body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    background-image: url("images.jfif");
    text-align: center;
    color: whitesmoke;


}

h1 {
    padding-top: 100px;
    color:white;
    text-align: center;
    text-decoration: solid;

}

#message-el {
    text-align: center;
}

button{
    color: #016f32; 
    width: 150ox;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 4px;
}